# Tested on Linux x86_64, Python 3.11.16, CPU. See README for CPU Torch installation.
torch==2.2.0
torchdata==0.7.1
dgl==2.1.0
networkx==3.2.1
pandas==2.2.3
numpy==1.26.4
h5py==3.16.0
matplotlib==3.11.2
PyYAML==6.0.3
scipy==1.17.1
statsmodels==0.15.0
patsy==1.0.3
seaborn==0.13.2
tqdm==4.70.1
jupyterlab==4.6.4
ipykernel==7.3.0
nbformat==5.11.1
nbclient==0.11.0
pydantic==2.13.5
requests==2.34.2
git+https://github.com/alexandroskoliousis/polygraphs.git@f2c8d416c3affafb7215e40f0dd0b79549649ebc
